/*
	Knightly Knowledge
	Spring 2017

	COLOR CODES:
	Purple:			#633393
	Dark Purple:	#42337E
	Grey:			#B0B6BB
	Light Grey:		#C9CED1
	Black: 			#000000
	White:			#FFFFFF
*/

/* BODY */
body { text-align:center; font-family:Arial, Helvetica, sans-serif; background-color:#FFFFFF; margin: 0; }
#main { transition: margin-left .5s; padding: 16px; text-align: left; font-size:1.1em;}
.wrapper {width:75%; margin:0 auto ;max-width:960px; background-color:#FFFFFF; padding:0 4%}
.dashboardIcon { float: left; margin-left: 200px; padding-bottom: 100px; }
.logo { margin-top: 0px; width: 60%; }

/* HEADER */
header { background-color: #FFFFFF; width: 100%; margin:0px auto;}


#purpleBar { background-color: #42337E; color: #FFFFFF; padding: 20px; text-align: left; transition: margin-left .5s; }

/* POINTER */
.pointer { font-size:40px; cursor: pointer; float: left; margin-left: 15px; margin-top: 10px; }

/* SIDE NAV */
.sidenav { height: 100%; width: 0; position: fixed; z-index: 1; top: 0; left: 0; background-color: #42337E;
	overflow-x: hidden; transition: 0.5s; padding-top: 60px; }

.sidenav a { padding: 8px 8px 8px 32px; text-decoration: none; font-size: 25px; color: #FFFFFF; display: block;
	transition: 0.3s }

.sidenav a:hover, .offcanvas a:focus{ color: #f1f1f1; }

.sidenav .closebtn { position: absolute; top: 0; right: 25px; font-size: 36px; margin-left: 50px; }

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* MISC */
div.one { text-align: center; }
div.two label { font-weight:bold; float: left; width: 100px; text-align: right; padding-right: 10px; padding-left: 50px;
	position: relative;}
div.two input, div.two select{ float: left; width: 150px; text-align: left; }
div.two select { width: 157px; }
span.two {width: 15%; float: left;}
#submit{ clear: both; width: 125px; height: 30px; background:#42337E; text-align:center; line-height:20px;
	font-size:12px; font-weight:bold;color: #FFFFFF; }
#continue{ clear: both; width: 125px; height: 30px; background:#42337E; text-align:center; line-height:20px;
	font-size:12px; font-weight:bold;color: #FFFFFF; }
#submitEval{ clear: both; width: 125px; height: 30px; background:#42337E; text-align:center; line-height:20px;
	font-size:12px; font-weight:bold;color: #FFFFFF; }
.med_icon{ width:65px; height:65px; }	
.small_icon{ width:25px; height:25px; }
.indent { margin-left: 30px; transition: margin-left .5s;}
.center { text-align: center; }
.clear { clear: both; }
.underline {text-decoration: underline; }
. {text-decoration: bold; }
div.dashboardIcon {text-align:center; }
#settings {  display:table; text-align:right; padding-left:26%;  }
/*table {font-family: arial, sans-serif; border-collapse: collapse; width: 100%; }
td, th {border: 1px solid #dddddd; text-align: left; padding: 2px; }*/
td, th {border: 1px solid #dddddd; padding:4px;}
.inputColor {background-color:#F5F5F5;}


/* Settings */
.submit{background:#42337E; color: #FFFFFF; border-color:#42337E;}
.submit:hover {background-color: #633393; border-color:#633393;}

/* Feedback Forms */
.feedbackBtn {background-color:#42337E; border-color:#42337E; margin-left:.5em;}
.feedbackBtn:hover {
	background-color: #633393; border-color:#633393;
}
hr {
	border: 0;
	clear:both;
	display:block;
	width: 100%;
	background-color:#ccc;
	height: 1px;
}
.formatContainer {
	background-color:#f2f2f2;
	border-radius:5px;
}
.col-centered {
	float: none;
	margin-right: auto;
	margin-left: auto;
}

@media only screen and (max-width:725px) {
	.logo {width:100%;}
}
